@import "theme-template";

// variables

$light-text-color: #fff;
$dark-text-color: #444;
$primary-text-color: #e0e0e0;
$secondary-text-color: darken($primary-text-color, 20%);
$inactive-text-color: darken($primary-text-color, 40%);
$link-text-color: #009688;
$error-text-color: #e3745b;

$settings-select-bg: #1e1f25;
$settings-select-color: #737373;
$settings-api-node-border-color: #2a2b34;
$main-content-margin-block-bg-color: #151619;
$bg-color: #191a1f;
$panel-bg-color: #2c2e37;
$light-panel-bg-color: #353742;
$super-light-panel-bg-color: lighten($light-panel-bg-color, 8%);
$settings-menu-hover-bg: darken($light-panel-bg-color, 5%);
$settings-menu-active-bg: darken($light-panel-bg-color, 5%);
$button-bg-color: #009688;
$secondary-button-bg-color: #546979;
$input-background: lighten($bg-color, 1%);

$alert-color: $error-text-color;
$info-color: #4a90e2;
$success-color: #18bc9c;
$warning-color: #fcab53;
$fee-color: $secondary-text-color;

// Exchange colors
$bid-color: #2cc788;
$ask-color: #e3745b;
$call-color: #bbbf2b;
$positive-color: #6ec105;
$negative-color: #e1424a;
$row-accent-color: #3c3c3c;
$header-color: #484848;

// Account table view colors
$account-header: #1a242f;
$account-cells: #27384b;
$account-green: #7ed321;
$account-primarytext: white;
$account-dimmed: #606060;
$account-border: #323131;
$account-background: black;
$account-tabs-background: inherit;

$pulsate-green-start: $account-green;
$pulsate-green-end: #b4f271;
$pulsate-red-start: $negative-color;
$pulsate-red-end: #ef7c82;

$modal-bg-color: #27384b;

$mobile-input-bg: #1b1c22;

$incognito-bg: #e3745b;

$positive-color-alternative: #22d173;
$negative-color-alternative: #ff276d;
$medium-color: #ff9900;
$dark-help-text: #171a25;
$separator-line: rgba(23, 26, 37, 0.3);

$tab-content-background-color: lighten($account-header, 4%);
$explorer-tab-content-background-color: $tab-content-background-color;

// * * * Explorer

// * * * * * Witnesses

$explorer--witnesses--info-bg: $account-cells;
$explorer--witnesses--info-border: $header-color;
$explorer--witnesses--info-table-title-color: darken(#fff, 50%);
$explorer--witnesses--info-table-text-color: #fff;

// * * * * * Assets

$explorer--assets--bg: $bg-color;

// * * * * *

// * * *

.midnightTheme {
    @include theme(
        $explorer-tab-content-background-color,
        $tab-content-background-color,
        $primary-text-color,
        $bg-color,
        $dark-text-color,
        $inactive-text-color,
        $link-text-color,
        $light-text-color,
        $secondary-text-color,
        $success-color,
        $info-color,
        $warning-color,
        $alert-color,
        $super-light-panel-bg-color,
        $panel-bg-color,
        $button-bg-color,
        $secondary-button-bg-color,
        $fee-color,
        $bid-color,
        $ask-color,
        $call-color,
        $light-panel-bg-color,
        $positive-color,
        $negative-color,
        $row-accent-color,
        $header-color,
        $input-background,
        $account-header,
        $account-cells,
        $account-green,
        $account-primarytext,
        $account-dimmed,
        $account-border,
        $account-background,
        $account-tabs-background,
        $pulsate-green-start,
        $pulsate-green-end,
        $pulsate-red-start,
        $pulsate-red-end,
        $settings-select-bg,
        $settings-select-color,
        $settings-menu-hover-bg,
        $settings-menu-active-bg,
        $settings-api-node-border-color,
        $main-content-margin-block-bg-color,
        $modal-bg-color,
        $mobile-input-bg,
        $incognito-bg,
        $explorer--witnesses--info-bg,
        $explorer--witnesses--info-border,
        $explorer--witnesses--info-table-title-color,
        $explorer--witnesses--info-table-text-color,
        $explorer--assets--bg,
        $negative-color-alternative,
        $positive-color-alternative,
        $separator-line,
        $medium-color,
        $dark-help-text
    );
}
::-webkit-scrollbar,
-moz-scrollbar {
    width: 7px;
    height: 7px;
}
::-webkit-scrollbar-corner {
    background-color: #999;
}
::-webkit-scrollbar-thumb {
    background: #000;
    border: 1px solid rgb(43, 113, 149);
}
::-webkit-scrollbar-track {
    /* background-color: #08091b; */
    /* border-left: 1px solid #0c0f2a; */
}
body.midnightTheme .ant-btn {
    /* color: #009688; */
    border-color: #009688;
}
body.midnightTheme .ant-btn-primary[disabled] {
    background-color: #272b2d !important;
    border-color: #2b3235 !important;
    color: #8c7779 !important;
}
body.midnightTheme .ant-input {
    line-height: 22px !important;
}
body.midnightTheme .ant-input-group .ant-input {
    height: 22px;
    font-size: 12px;
}
.market-layout .inputAddon {
    padding-bottom: 5px !important;
    font-size: 12px;
}
body.midnightTheme .ant-input-group-addon {
    font-size: 12px;
}
body.midnightTheme .ant-select {
    font-size: 12px;
}
.buy-sell-label {
    line-height: 1.25rem;
    height: 1.25rem;
}
.buy-sell-balance {
    color: #09dc7b;
}
.midnightTheme .table > tbody > tr > td {
    font-size: 0.75rem;
}
.table > tbody > tr > td {
    /* padding: 3px; */
}
*:not([class*="ant-"]) > label,
*:not([class*="ant-"]) > label > span {
    font-family: "Roboto-Light";
}
body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Roboto-Light", arial, sans-serif;
}
.midnightTheme tr.activeMarket,
.midnightTheme tr.activeMarket:hover {
    color: #a1f5b3;
}
.midnightTheme table.table.dashboard-table > tbody > tr > td {
    background-color: #2e353e;
    // 27384b;
    color: white;
    border-color: #323131;
}
body.midnightTheme .ant-btn-primary {
    background-color: #009688;
}
.midnightTheme div.grid-content.app-tables {
    background-color: #2c2e37;
}
.no-padding {
    padding: 0 !important;
}
.tab-content .grid-content {
    padding: 0 !important;
}
body.midnightTheme .ant-pagination-item-active {
    border-color: #04d2bf;
    font-weight: 500;
}
ul.dropdown.header-menu > li {
    height: 38px;
}
.midnightTheme .qr-address-scanner-btn {
    background: #009688;
}
body.midnightTheme .ant-modal-close-x {
    color: #05c1b0;
}
.midnightTheme .order-table .my-order > .vertical-order-table-cell,
.midnightTheme .order-table .my-order > td {
    font-weight: bold;
    color: #4adbe2;
}
form.order-form {
    background: #212227;
}
.midnightTheme .introjs-launcher {
    background-color: #009688;
}
